.table-wrapper {
  padding: 64px 20px;
  position: relative;
}

.table-header {
  position: absolute;
  left: 20px;
  right: 20px;
  top: -20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px !important;
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(244 67 54 / 40%) !important;
    color: white !important;
}

/* .MuiDataGrid-root .MuiDataGrid-cell:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus-within,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
} */
