.dialog-content {
  position: relative;
  width: 510px;
}

.dialog-header {
  position: relative;
  position: relative;
  top: -40px;
  z-index: 3 !important;
  padding: 20px 12px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white !important;
}

.dialog-actions {
margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.MuiFormControl-root {
  width: 70%;
  margin-bottom: 24px !important;
}
