.content-wrapper {
  margin-top: 40px;
}

.milestone-content {
  position: relative;
  padding: 10px 8px 8px 8px;
}

.date-container {
  position: absolute;
  top: -20px;
  padding: 10px 25px !important;
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(244 67 54 / 40%) !important;
  color: white !important;
}

.milestone-applications {
  margin-left: 100px;
  padding-bottom: 20px;
}

.milestone-footer {
  display: flex;
  justify-content: flex-end;
}
