.details-wrapper {
    position: relative;
    margin-top: 50px;
    padding: 70px 32px 32px 32px;
}

.details-image {
    position: absolute;
    height: 120px;
    width: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    top: -60px;
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px #6d1b7b56, 0 4px 25px 0 #6d1b7b12, 0 8px 10px -5px #6d1b7b20;
}

.crop-name {
    margin-top: 32px !important;
    text-transform: uppercase;
}

.program-description {
    margin-top: 16px !important; 
}

.property-grid {
    margin-top: 16px;
}

.program-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

.property-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.property-title {
    display: flex;
}

.property-icon {
    margin-right: 10px;
}

.property-value {
    margin-left: 34px;
}